<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
<!-- This  is the configuration file where a bean is declared, when we need an object of a class, we call getBean() 
method, it will search for the id attribute in bean tags to match the  parameter inside getBean() if a match is found it will create an object
for the mentioned class inside class attribute -->
<bean id="laptop" class="com.bhavesh16281.Laptop" scope="prototype" >
	<!-- This property tag will indirectly call the setter method of laptop class to set the value 
		<property name="price" value="40000"></property>
	-->
	
	<!-- This constructor-arg tag will indirectly call the respective constructor based on the arguments to assign the values
	Here 2 constructor-arg tags are mentioned so 2 argument constructor is called to set the values 
	<constructor-arg value="35000"></constructor-arg>
	<constructor-arg value="lenovo"></constructor-arg>
	-->
	
	
	<!-- This tag is for Setting or creating the object of a class which is inside another class, the text inside ref attribute will be compared
	with the other beans id attribute and if they match the object will be created for that class
	<property name="ram" ref="ramObject"></property>
	-->
	
	
</bean>
<bean id="ramObject" class="com.bhavesh16281.Ram"></bean>



<!-- Autowire using Name
	In this tag we created a bean for ComputerImpl class which has dependency on Computer object but Computer is an interface which is implemented by Desktop and Laptop
	So when we use autowire="byName" it will check the object reference for all the dependent objects ad compare that with the bean ID, in this case 
	we used computer as object reference name and this name will be compared with bean id if the bean is found then it will create object for the class mentioned in the bean id.
	If multiple bean ID's are found for the ref name then it will thorow an exception

<bean id="comImpl" class="com.bhavesh16281.ComputerImpl"  scope="prototype" autowire="byName"></bean>

<bean id="computer" class="com.bhavesh16281.Desktop"></bean>
 -->







</beans>